FRONTEND_URL=https://yourdomain.com

SUPER_ADMIN_PASSWORD=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=
JWT_SECRET=
FRONTEND_ORIGIN=

# (For future S3 uploads if you decide to add presigned URLs)
AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=